
.activityH1{

    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 61px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

/* White Base */

color: #FFFFFF;

/* Shadow Dark · 16dp */

text-shadow: 0px 16px 24px rgba(8, 35, 48, 0.08), 0px 6px 12px rgba(8, 35, 48, 0.14);
}

.activityP{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    
    /* Gradient Yellow */
    
    background: linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    
}

.Covid{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* White Base */

color: #FFFFFF;

/* Shadow Blue · 16dp */

text-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);
}

.pill{

    background: linear-gradient(90deg, #80688E 0%, #4F586A 100%);
border-radius: 16px;
}

.dinner{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    
    
    text-align: center;
    letter-spacing: 0.25px;
    
    /* Gradient Positive 2 */
    
     color: black;
    
    /* Shadow Blue · 16dp */
    
    text-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);  
}
.dinner1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    
    
    text-align: center;
    letter-spacing: 0.25px;
    
    /* Gradient Positive 2 */
    
     color: white;
    
    /* Shadow Blue · 16dp */
    
    /* text-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);   */

}
.child{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 48px;


text-align: center;
letter-spacing: 0.25px;

/* Gradient Positive 2 */

background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

/* Shadow Blue · 16dp */

text-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);
}

.linear{
    background: linear-gradient(90deg, #F4977B 0%, #F9567E 100%);
border-radius: 16px;
}
.medical{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;


/* Dark Color */

color: rgba(0, 0, 0, 0.87);


}