.borders{
  
    border-bottom: solid #E3E5E5 1px;

}

.ASDEV{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
    line-height: 32.4px;
    color: #000000;
   letter-spacing: -2%;
}
.download ,.register , .signIn{
    font-size: 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   color: #367BF5;
   text-transform: uppercase;

}

.signIn
  {
    background: #e0eafd;
    padding: 10px 20px;
   
  }
  /* .download:hover ,
  .register:hover
  {
    background: #e0eafd;
    padding: 8px 16px;
   
  } */

  .navmenuUnTrack{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #000000;
    /* padding: 12px 20px; */

  }
  .navmenuTrack{

    background: #F7F9FA;
    /* padding: 12px 20px; */
   
  }
  li:hover{
    
    scale: 1.1;
    transition: all .5s ease;

  }

  .download:hover , 
  .signIn:hover , 
  .register:hover{

    
    scale: 1.1;
    transition: all .5s ease;
  }



  
.animate-pop-in {
  -webkit-animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
          animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}


.HeaderLogo{
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.ASDEV{
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}


    
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(.8);
            transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pop-in  {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(.8);
            transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}


